.member {
  padding: 20px;
}
.member-image {
  width: 200px;
  height: 250px;
  background: white;
  border-radius: 8px;
}

.member-image img{
  height:250px;
  width:200px;
  border-radius: 8px;
}
.member-name {
  font-size: 18px;
  line-height: 18px;
  font-family: Josefin Sans;
  color: white;
  text-align: center;
  padding-top: 25px;
}
.member-position {
  font-size: 16px;
  line-height: 16px;
  font-family: Josefin Sans;
  color: #a4cc3c;
  text-align: center;
  padding: 10px 0;
}
.member-contact {
  width: inherit;
  background-color: #393c49;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}


.member-contact img{
  width: "50px";
  padding: "0px 10px";
}

.member-box{
  display: "flex";
  justify-content: "center"; 
}