.team-heading {
  font-family: Gothic A1;
  padding-top: 20vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  line-height: 60px;
}
@media only screen and (max-width: 1000px) {
  .team-heading {
    font-size: 38px;
  }
}
.team-subheading {
  font-size: 36px;
  line-height: 45px;
  color: #6c6c6c;
  font-family: Gothic A1;
  width: 30vw;
  text-align: center;
  padding: 26px 0px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px 60px;
  -webkit-transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 1220px) {
  .team-subheading {
    width: 50vw;
  }
}
.team-allmembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-all {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 9.5vw 150px 9.5vw;
}
.team-subheading:hover {
  background-color: black;
  color: white;
  -webkit-transform: scale(1.1);
  border-radius: 20% 0px;
}

@media only screen and (max-width: 500px) {
  .team-subheading {
    font-size: 20px;
    padding: 0px;
  }
  .team-all {
    padding: 40px 9.5vw 150px 9.5vw;
  }
}
