.heading-main {
  background: rgba(118, 118, 118, 0.8);
  backdrop-filter: blur(10px);
  width: fit-content;
  font-family: Nimbus Sans;
  font-style: normal;
  /* font-weight: 600; */
  font-size: 1.62vw;
  line-height: 1.62vw;
  color: white;
  display: flex;
  z-index: 1;
  position: relative;
  /* height: ; */
  width: ;
}
.heading-green {
  background-color: #a4cc3c;
  width: 15px;
  margin: 7px 9px;
  /* position: absolute; */
  /* height: fit-content; */
}
.heading-text {
  padding: 1.2vw 4vw 1.2vw 1.2vw;
}
@font-face {
  font-family: "Nimbus Sans";
  src: url("Nimbus-Sans-D-OT-Bold_32747.woff") format("woff"),
    url("Nimbus-Sans-D-OT-Bold_32747.ttf") format("truetype");
}
@media only screen and (max-width: 1300px){
  .heading-main{
    font-size: 2vw;
    line-height: 2vw;
  } 
}