.navbar {
  width: 100vw;
  display: flex;
  position: fixed;
  height: 9vh;
  background-color: #000;
  color: #0b0d18;
  font-family: Josefin Sans;
  opacity: 0.75;
  z-index: 2;
}
.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo {
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
}
.navbar-navigation {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  line-height: 18px;
}
.individual-option {
  padding: 1.5vw;
  text-align: center;
  color: #eaeaea;
  font-size: 0.97vw;
  line-height: 18px;
}
