.navbar {
  width: 100vw;
  display: flex;
  position: fixed;
  height: 110px;
  background-color: #000;
  color: #818181;
  font-family: Josefin Sans;
  z-index: 5 !important;
}
.navbar-logo-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.navbar-logo {
  height: 120px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
}
.individual-option {
  width: 100px;
  text-align: center;
  color: #818181;
}
.individual-option:hover{
  color:#666;
}
a{
  text-decoration: none;
  color:#818181;
}
@media only screen and (min-width: 1000px) {
  .dropdown {
    display: none;
  }
  .navbar-navigation {
    width: 100vw;
    padding-left: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .navbar-navigation-ham {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar-navigation {
    display: none;
  }
  .navbar-navigation-ham {
    display: flex;
    flex-direction: column;
    margin-top: 14.5vh;
    position: absolute;
    /* padding-bottom: 20px; */
  }
  .individual-option {
    background-color: #000;
    width: 100vw;
    text-align: left;
    height: 40px;
    padding: 10px 20px;
    display: flex;

    /* align-items: center; */
  }
  .dropdown {
    margin-left: -15vw;
    position: absolute;
    display: block;
    line-height: 10px;
    align-items: center;
    padding: 55px 5vw 50px 0px;
    cursor: pointer;
  }
}
.link {
  color: #818181;
  text-decoration: none;
}
.link:hover {
  color: #666;
}

.individual_bar {
  border-radius: 10px;
  height: 5px;
  width: 10vw;
  background-color: #818181;
}
