.navbar {
  width: 100vw;
  display: flex;
  position: fixed;
  height: 14.5vh;
  background-color: #000;
  color: #818181;
  font-family: Josefin Sans;
}
.navbar-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo {
  height: 120px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5vw;
}
.navbar-navigation {
  width: 100vw;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.individual-option {
  width: 100px;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .navbar-navigation {
    display: block;
    margin-top: 14.5vh;
    padding: 0;
  }
  .individual-option {
    background-color: #000;
    width: 100vw;
    text-align: left;
    height: 40px;
    padding-left: 20px;
    display: flex;
    /* align-items: center; */
  }
  .dropdown {
    margin-left: -20vw;
  }
}
.link {
  color: #818181;
  text-decoration: none;
}
.link:hover {
  color: #666;
}
.dropdown {
  line-height: 10px;
  /* display:flex; */
  align-items: center;
  padding: 55px 5vw 50px 0px;
}
.individual_bar {
  border-radius: 10px;
  height: 5px;
  width: 60px;
  background-color: #818181;
}
